# JAVA / MAVEN
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.jar
*.war
.kotlin

# SPRING BOOT
application-local.properties
application-local.yml

# INTELLIJ
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/

# VSCODE
.vscode/

# FLUTTER / DART
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.g.dart
*.freezed.dart

# MACOS
.DS_Store
.AppleDouble
.LSOverride

# MILJÖVARIABLER
.env
.env.local




### Flutter / Dart ###
# Generated plugin registrants
**/flutter/generated_plugin_registrant.cc
**/flutter/generated_plugin_registrant.h
**/flutter/generated_plugins.cmake
**/Flutter/GeneratedPluginRegistrant.swift
**/Flutter/GeneratedPluginRegistrant.h

# Dart tool cache
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Build output
frontend/build/

# iOS/macOS CocoaPods
frontend/ios/Pods/
frontend/macos/Pods/
frontend/ios/.symlinks/
frontend/linux/
frontend/windows/
